@model personapi_dotnet.Models.Entities.Profesion
@{ ViewData["Title"] = "Editar Profesión"; }

<h2>Editar Profesión</h2>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            
            <div class="mb-3">
                <label asp-for="Nom" class="form-label"></label>
                <input asp-for="Nom" class="form-control" />
                <span asp-validation-for="Nom" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Des" class="form-label"></label>
                <textarea asp-for="Des" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Des" class="text-danger"></span>
            </div>
            
            <div class="mb-3">
                <button type="submit" class="btn btn-warning">Guardar Cambios</button>
                <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
