@model personapi_dotnet.Models.Entities.Telefono
@{ ViewData["Title"] = "Registrar Teléfono"; }

<h2>Registrar Nuevo Teléfono</h2>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="mb-3">
                <label asp-for="Num" class="form-label"></label>
                <input asp-for="Num" class="form-control" />
                <span asp-validation-for="Num" class="text-danger"></span>
            </div>
            
            <div class="mb-3">
                <label asp-for="Oper" class="form-label"></label>
                <input asp-for="Oper" class="form-control" />
                <span asp-validation-for="Oper" class="text-danger"></span>
            </div>
            
            <div class="mb-3">
                <label asp-for="Duenio" class="form-label"></label>
                <select asp-for="Duenio" class="form-select" asp-items="ViewBag.Personas"></select>
            </div>
            
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Registrar</button>
                <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
